<h2 class="mt-4">Comments</h2>
<% article.comments.each do |comment| %>
  <%= render 'comments/comment', comment: comment %>
<% end %>
<h3>Add a comment</h3>
<% if policy(:comment).create? %>
  <%= render 'comments/form', article: article %>
<% else %>
  <p>Please, login to create a comment</p>
<% end %>
